# Set default behavior to automatically normalize line endings
* text=auto

# Force specific files to have Unix line endings
*.{js,jsx,ts,tsx,json,css,scss,md,html,yml,yaml} text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.swf binary