apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: preview-worker-hpa
  namespace: preview-worker
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: preview-worker
  minReplicas: 1
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60