apiVersion: apps/v1
kind: Deployment
metadata:
  name: mobius-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mobius-gateway
  template:
    metadata:
      labels:
        app: mobius-gateway
    spec:
      containers:
        - name: gateway
          image: mobius/gateway:latest
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
            readOnlyRootFilesystem: true
          envFrom:
            - secretRef:
                name: mobius-gateway-secrets
          volumeMounts:
            - mountPath: /var/security
              name: api-keys
              readOnly: false
      volumes:
        - name: api-keys
          persistentVolumeClaim:
            claimName: mobius-gateway-api-keys
